body {
    font-family: "Noto Serif HK", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    /* background color linear gradient*/
    /* background: linear-gradient(to bottom right, coral,30%,blue,50%, lightgreen); */
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: url(./background.jpg) no-repeat center/cover;
}
.hero h1 {
    font-size: 40px;
    color: white;
}
.hero p {
    font-size: 25px;
    color: #fff;
}
/* regular link */
.hero a {
    text-decoration: none;
    color: #333;
}
/* hover */
.hero a:hover {
    color: coral;
}
/* active */
.hero a:active {
    color:blue;
}
/* focus */
.hero a:focus {
    outline: 2px solid coral;
}
/* visit */
.hero a:visited {
    color: red;
}