* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-item {
    width: 400px;
    height: 200px;
    background-color: coral;
    border: 1px solid black;
}
.item2 {
    align-self: flex-end;
    flex-shrink: 2;
    flex-grow: 5;
    flex-basis: 200px;
    flex: 5 2 200px;/* short hand for the three above*/
    flex: 2; /* shorthand for flex grow only, flex-shrink:1, flex-basis:auto */
    order :1;
}
.item3 {
    align-self: flex-start;
    height: 600px;
    flex-shrink: 5;/*speed */
    flex-grow: 2;
    order: 2;
}
.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 800px;
    background-color: lightblue;
    /* justify-content: right; */
    justify-content: center;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: end; */
    /* gap: 10px; */
    align-items: center;
    /* align-items: stretch; */

}
.item1 {
    order:4
}
.item4 {
    order:3;
}