/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: 30px auto;
    background: #f4f4f4;
}
.item {
    background-color: coral;
    padding: 1rem;
    border: 1px solid #333;
    text-align: center;
}
.item-grid {
    display: grid;
    /* case 1 : by percentage */
    grid-template-columns: 70% 30%;
    /*case 2: multiple column ratios */
    grid-template-columns: 33.3% 33.3% 33.3%;
    /* case3: by fr: 2fr 1fr 3fr*/
    grid-template-columns: 2fr 1fr 3fr;
    /* case4: fixed width with ratio:600px 1fr 1fr */
    grid-template-columns: 600px 1fr 1fr;
    /* case5: apply minmax()to set min and max width */
    grid-template-columns: minmax(300px ,1fr) minmax(200px, 1fr) minmax(100px,1fr);
    /* case6: apply repeat() */
    grid-template-columns: repeat(3,minmax(300px,1fr));
    /* case 1:all sides : gap:20px */
    /* gap: 20px; */
    /* case2:grid-row-gap:20px */
    /* grid-row-gap: 20px; */
    /* case3:grid-column-gap:20px */
    /* grid-column-gap: 20px; */
    /* case4:grid-gap (row and column) :20px */
    grid-gap: 20px 10px;
}