html,
body {
    font-family: "Noto Serif HK", Verdana, Geneva, Tahoma, sans-serif;
    /* border: 3px solid red; */
    line-height: 2;
}
* {
    /* border: 3px solid red; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sporty {
    color: red;
}
.casual {
    color:blue;
    /* #ffaa33 = fa3;*/
}
.formal {
    color: brown;
}

main {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #d5e3e6;
}
h2 {
    font-size: 32px;
    font-weight: 800;
    font-style: normal;
    text-transform: capitalize;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: left;
}
.card {
    /* background-color: #fff;
    opacity: 0.9; */
    padding-left: 20px;
    border-radius: 10px;
    /* margin: 20px 10px; */
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
p {
    color: purple;
}

p::first-letter {
    text-transform: uppercase;
}

.sporty + p {
    color: red;
}
.card.card-sporty {
    background: #fff url(./sporty_shoe.png) no-repeat center right/200px;
}
.card-casual {
    background: #fff url(./casual_shoe_no_bg.png) no-repeat center right/200px;
}
.card-formal {
    background:#fff url(./formal_shoe_no_bg.png) no-repeat center right/200px;
    margin-bottom: 0;
}
button {
    width: 150px;
    font-size: 16px;
    padding: 7px;
    margin: 10px 0;
    color: white;
}
.card-sporty button {
    background-color: red;
}
.card-casual button {
    background-color: blue;
}
.card-formal button {
    background-color: brown;
}
button:hover {
    cursor: pointer;
    opacity: 0.5;
}