.box {
    background-color: darkblue;
    color: white;
    /* padding: 20px; alll sides*/
    padding-top: 20px;
    padding-right: 50px ;
    padding-bottom: 70px;
    padding-left: 100px;
    padding: 20px 50px 70px 100px;/* top right bottom left*/
    padding: 20px 50px;/* vertical horizontal*/
    padding: 20px 50px 40px;/* top horizontal bottom*/
    border: 3px solid green;
    border-top-color:red ;
    border-bottom-color: yellow;
    /* border-color: red; */
    border-top-style: dashed;
    border-left-style: dotted;
    /*border-style: double;*//*dotted*/
    border-radius: 150px;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
    border-width: 15px;
    margin: 0px;
    /* display: inline-block; */
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 100px;
    margin-left: 50px;
}

.box-1 {
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.box-2 {
    width: 50%;
}

.box-3 {
    height: 150px;
}
.box-2 p {
    width: 50%;
}
.box-3 {
    /* max-width: 800px; */
    min-width: 500px;
}